.toolbar-spacer {
    flex: 1 1 auto; /* זה מה שדוחף את הקישורים לימין */
    margin-right: 15px; /* מרווח קטן לאחר הכותרת */
  }
  .separator-bar {
      margin: 0 10px;
      color: rgba(255, 255, 255, 0.5); /* צבע אפור בהיר */
  }