<div class="form-container">
  <mat-card class="login-card">
    <mat-card-title>
      <h2>Sign In</h2>
    </mat-card-title>

    <mat-card-content>
      <form #SignInForm="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="toSignIn.userName"
            name="userName"
            #userName="ngModel"
            required
          />
          @if(userName.errors && userName.touched){
            @if(userName.errors['required']){
              <mat-error>שדה חובה</mat-error>
            }
          }
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="toSignIn.password"
            name="password"
            #password="ngModel"
            required
          />
          @if(password.errors && password.touched){
            @if(password.errors['required']){
              <mat-error>שדה חובה</mat-error>
            }
          }
           <img [src]="getImageSrc(toSignIn)" alt="user image" class="user-image-material" [hidden]="!getImageSrc(toSignIn)">
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions class="form-actions">
      <button 
        mat-raised-button 
        color="primary" 
        (click)="signIn()" 
        [disabled]="SignInForm.invalid">
        Sign In
      </button>
    </mat-card-actions>
  </mat-card>
</div>