<div class="center-content-container">
  <mat-card class="welcome-card">
    <mat-card-title>Welcome</mat-card-title>

    <mat-card-content>
      <p>Please sign in or sign up to begin addig</p>
    </mat-card-content>

    <mat-card-actions class="button-group">
      <a routerLink="/sign-in" tabindex="-1">
        <button mat-raised-button color="primary">Sign In</button>
      </a>
      
      <a routerLink="/sign-up" tabindex="-1">
        <button mat-flat-button color="accent">Sign Up</button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>