<div class="center-content-container">
  <mat-card class="welcome-card">
    <mat-card-title>ברוכים הבאים</mat-card-title>

    <mat-card-content>
      <p>התחבר או הרשם כדי להתחיל להוסיף טיולים</p>
    </mat-card-content>

    <mat-card-actions class="button-group">
      <a routerLink="/sign-in" tabindex="-1">
        <button mat-raised-button color="primary">התחברות</button>
      </a>

      <a routerLink="/sign-up" tabindex="-1">
        <button mat-flat-button color="accent">הרשמה</button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>